.graph{
	min-width: 310px;
	margin: 0;
	padding: 0px;
	float: left;
}
.onethird{
	height: 350px;
	width: 33%;
}
.onefourth{
	height: 350px;
	width: 25%;
}
.full{
	height: 350px;
	width: 100%;
}
.half{
	height: 350px;
	width: 50%;
}

